.clase-A {
    background-color: #FF8E8E; /* Cambia este valor por tu color */
}
.clase-B {
    background-color: #99FEFF; /* Cambia este valor por tu color */
}
.clase-C {
    background-color: #F8DE95; /* Cambia este valor por tu color */
}
.clase-D {
    background-color: #B7FFC3; /* Cambia este valor por tu color */
}
