body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

.app {
  display: flex;
  height: 100vh;
}

/* Panel jugadores */
.players-panel {
  width: 250px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.player {
  width: 90px;
  height: 60px;
  background: #ffffff;
  border-radius: 45px 45px 12px 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  cursor: grab;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding: 8px;
  font-size: 12px;
  font-weight: bold;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.player:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.player:active {
  cursor: grabbing;
}

.player::before {
  content: attr(data-role);
  position: absolute;
  top: 6px;
  font-size: 10px;
  font-weight: bold;
  color: #666;
}

.gk {
	border-color: yellow;
	border-style: solid;
}

/* Campo */
.field {
  flex: 1;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.row {
  display: flex;
  gap: 40px;
}

.position {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}