tr.fw {
    background-color: #FF8E8E; /* Cambia este valor por tu color */
}
tr.gk {
    background-color: #F8DE95; /* Cambia este valor por tu color */
}
tr.df {
    background-color: #99FEFF; /* Cambia este valor por tu color */
}
tr.mf {
    background-color: #B7FFC3; /* Cambia este valor por tu color */
}
tr.dm {
    background-color: #B7FFC3; /* Cambia este valor por tu color */
}
tr.am {
    background-color: #B7FFC3; /* Cambia este valor por tu color */
}