.fw {
    background-color: #FF8E8E; /* Cambia este valor por tu color */
}
.gk {
    background-color: #F8DE95; /* Cambia este valor por tu color */
}
.df {
    background-color: #99FEFF; /* Cambia este valor por tu color */
}
.mf {
    background-color: #B7FFC3; /* Cambia este valor por tu color */
}
.dm {
    background-color: #84ff99; /* Cambia este valor por tu color */
}
.am {
    background-color: #6bff84; /* Cambia este valor por tu color */
}